<template>
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-space">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" @click="logout()">Logout</a>
              </li>
            </ul>
          </div>
      </nav>
</template>

<style>
.navbar-space {
  margin-bottom: 20px;
}

.navbar-items {
  display: flex;

}
</style>


<script>
export default {
  name: 'Navbar',
  data () {
    return {
    }
  },
  methods: {
    logout() {
      this.$localStorage.set('user', '');
      this.$router.push({ name: 'login' });
    }
  },
}
</script>
